:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --header-color: #888;
    --error-color: red;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

nav {
    padding: 10px 0;
}

.home-button {
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
}

.product-details-container {
    display: flex;
    gap: 20px;
}

.product-image {
    width: 100%;
}

section {
    flex: 1;
    margin-left: 20px;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
}

.header2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input[type="number"] {
    font-size: 16px;
    padding: 5px;
    width: 100px;
    border-radius: 8px; /* Rounded corners for input bar */
}

.articles {
    list-style-type: none;
    padding: 0;
}

.article {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--header-color);
    border-radius: 8px; /* Rounded corners for articles */
}

.article-name {
    font-size: 14px;
    font-weight: bold;
}

.article-stock {
    font-size: 14px;
    color: var(--header-color);
}

.amount {
    font-size: 14px;
    color: var(--text-color);
}

.error-message {
    font-size: 14px;
    color: var(--error-color);
    margin-top: 10px;
}

#sell-button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#sell-button:hover {
    background-color: var(--button-hover-bg-color);
}
