/* Define color variables */
:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #ddd;
    --border-hover-color: #c9c4c4;
    --tab-bg-color: #f1f1f1;
    --tab-bg-hover-color: #ddd;
    --tab-bg-active-color: #c9c4c4;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-text-color: #fff;
    --upload-button-bg-color: #28a745;
    --upload-button-hover-bg-color: #218838;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--text-color);
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablinks {
    background-color: var(--tab-bg-color);
    border: 1px solid var(--border-hover-color);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 5px;
}

.tablinks:hover {
    background-color: var(--tab-bg-hover-color);
}

.tablinks.active {
    background-color: var(--tab-bg-active-color);
}

.tabcontent {
    display: none;
}

/* Styles for Product List */
#productsList {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px 40px;
    margin-top: 100px;
}

.product {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: calc(33% - 80px); 
    box-shadow: 0 2px 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 5px; /* Rounded corners for product images */
}

.product a {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 3px;
}

.product a:hover {
    background-color: var(--button-hover-bg-color);
}

/* Styles for Upload Section */
#Upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#Upload section {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--shadow-color);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

#Upload section h3 {
    margin-top: 0;
    color: var(--text-color);
}

#Upload form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Upload label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

#Upload input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

#Upload button {
    padding: 10px 20px;
    background-color: var(--upload-button-bg-color);
    border: none;
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Upload button:hover {
    background-color: var(--upload-button-hover-bg-color);
}

.upload-name {
    display: flex;
    gap: 40px;
}

.header1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: .15px;
}

.header2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: .15px;
}

.header3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: .15px;
}
